.main {
  min-height: 1122px;

  display: grid;
  place-items: center;

  &__grid-box {
    background-color: $color-white;
    height: 95%;
    width: 95%;
    background-color: black;
    position: relative;

    overflow-x: scroll;
    overflow-y: scroll;
  }
}

.hidden {
  display: hidden;
}

.box {
  border: 1px solid black;
}
